body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #202020;
    background-position: center;
    background-size: cover;
}

#muller,#pilatti{
    font-family: 'MedievalSharp', cursive;
    font-size: 30px;
    height: 100px;
    width: 250px;
    margin: 0 5px;
    border-style: none;
    border-radius: 10px;
    transition: 0.2s;
}

#muller:hover,#pilatti:hover {
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

#muller:active,#pilatti:active {
    transform: scale(1.05);
}

#muller:hover {
    background-image: url("../img/germanyflagbtn.png");
    color: rgb(0, 0, 0);
    padding: 0 70px 0 0;
    
}

#pilatti:hover {
    background-image: url("../img/romeflagbtn.png");
    color: rgb(255, 166, 1);
    padding: 0 0 0 70px;
}

@media screen and (max-width: 600px) {
    #muller,#pilatti {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0 0 0;
        padding: 20px;
        width: 250px;
        border-style: none;
        border-radius: 10px;
    }
}