body {
    width: 100vw;
    height: 100vh;
}

#head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: #505050;

}

#cabecalho h1 {
    font-family: 'MedievalSharp', cursive;
    font-size: 30px;
    color: white;
}

#menu {
    display: flex;
    justify-content: center;
    background-color: #303030;
}

.menuStyle {
    border-style: none;
    background-color: #303030;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    width: 180px;
    height: 35px;
}

.menuStyle:hover {
    cursor: pointer;
    background-color: blue;
}

@media screen and (max-width: 720px) {
    
    .menuStyle {
        font-size: 6px;
        width: 90px;
        height: 40px;
    }

}